<div class="container-form">
    <form nz-form [formGroup]="registerForm" class="form-signin" (ngSubmit)="onSubmit()">
        <h2 class="form-signin__title">Register</h2>
        <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="firstNameErrorTpl">
                <input nzSize="large" type="test" nz-input formControlName="firstName" placeholder="First Name" />
                <ng-template #firstNameErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your First Name!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="lastNameErrorTpl">
                <input nzSize="large" type="test" nz-input formControlName="lastName" placeholder="Last Name" />
                <ng-template #lastNameErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your Last Name!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="addressErrorTpl">
                <input nzSize="large" type="test" nz-input formControlName="address" placeholder="Address" />
                <ng-template #addressErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your Address!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
                <input nzSize="large" type="text" nz-input formControlName="email" placeholder="Email" />
                <ng-template #emailErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('email')">
                        The input is not valid E-mail!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your E-mail!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                <input nzSize="large" type="password" nz-input formControlName="password" placeholder="Password" (focus)="passwordPopUp = true" (blur)="passwordPopUp = false"/>
                <ng-template #passwordErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your Password!
                    </ng-container>
                    <ng-container>
                        <div *ngIf="passwordPopUp" class="input-popup">
                            <div class="input-popup__error">
                                <div *ngIf="!control.hasError('isValidChar')" class="input-popup__error_text">Password should contain at least one lowercase letter, at least one uppercase letter and at least one number</div>
                                <div *ngIf="!control.hasError('isValidLong')" class="input-popup__error_text">Password should contain no more than 40 symbols</div>
                                <div *ngIf="!control.hasError('isValidShort')" class="input-popup__error_text">Password should contain no less than 6 symbols</div>
                            </div>
                        </div>
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button nz-button nzSize="large" class="form-signin__button" nzType="primary" [disabled]="!isFormValid">Register</button>
                <a [routerLink]="['/login']">Log in</a>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
