<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo" [innerHTML]="isCollapsed ? 'A' : title"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item routerLink="/">
                <i nz-icon nzType="unordered-list"></i>
                <span>Customers</span>
            </li>
            <li nz-menu-item routerLink="/create">
                <i nz-icon nzType="form"></i>
                <span>Create customer</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header class="header">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
            <ng-container>
                <a *ngIf="user" nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]='placement'><nz-avatar nzIcon="user"></nz-avatar> {{user.firstName}} {{user.lastName}}</a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item routerLink="/profile"><i nz-icon nzType="user"></i><span>Profile</span></li>
                        <li nz-menu-item (click)="logout()"><i nz-icon nzType="logout"></i><span>Logout</span></li>
                    </ul>
                </nz-dropdown-menu>
            </ng-container>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer>Andromeda Systems ©2020</nz-footer>
    </nz-layout>
</nz-layout>




