<h1>Customers</h1>
<nz-table
  #basicTable
  [nzData]="dataSource"
  [nzPaginationPosition]="'top'"
  [nzFrontPagination]="false"
  [nzShowPagination]="true"
>
    <thead>
    <tr>
        <th *ngFor="let column of displayedColumns">{{column}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
        <td>{{ data.first_name }}</td>
        <td>{{ data.last_name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.phone }}</td>
        <td>{{ data.address }}</td>
        <td>{{ data.description }}</td>
        <td>
            <button (click)="editProduct(data._id)" nz-button nzType="primary">Edit</button>
            <nz-divider nzType="vertical"></nz-divider>
            <button
                    nz-button
                    nzType="danger"
                    nz-popconfirm
                    nzPopconfirmTitle="Are you sure delete this customer?"
                    (nzOnConfirm)="deleteProduct(data._id)"
                    nzPopconfirmPlacement="topLeft"
            >Delete</button>
        </td>
    </tr>
    </tbody>
</nz-table>
<div class="pagination">
    <nz-pagination
            [nzPageIndex]="1"
            [nzTotal]="length"
            (nzPageIndexChange)="getServerData($event)"
    ></nz-pagination>
</div>
