<h1 class="h1">Profile</h1>
<div>
    <form class="form-customer" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary" type="submit" [disabled]="!isFormValid">Update</button>
        </div>
    </form>
</div>