<div class="container-form">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2 class="form-signin__title">Sign in (test@test.com/Test123)</h2>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
            <input matInput
                   [ngClass]="inputClasses(form, 'email')"
                   formControlName="email">
            <div *ngIf="form.email.touched && form.email.errors" class="group-errors">
                <div *ngIf="form.email.errors.required">Email is required</div>
            </div>
            <div *ngIf="form.email.dirty && form.email.errors" class="group-errors">
                <div *ngIf="form.email.errors.email">Invalid email format</div>
            </div>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
            <input matInput
                   type="password"
                   [ngClass]="inputClasses(form, 'password')"
                   formControlName="password">
            <div *ngIf="form.password.touched && form.password.errors" class="group-errors">
                <div *ngIf="form.password.errors.required">Password is required</div>
            </div>
        </mat-form-field>
        <div class="form-signin__group-buttons">
            <a [routerLink]="['/register']">Sign up</a>
            <button class="btn btn-primary" type="submit" [disabled]="!isFormValid">Sign in</button>
            <div *ngIf="error" class="group-errors">{{error}}</div>
        </div>
    </form>
</div>
