<div class="container-form">
    <form nz-form [formGroup]="loginForm" class="form-signin" (ngSubmit)="onSubmit()">
        <h2 class="form-signin__title">Sign in (test@test.com/Test123)</h2>
        <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
                <input nzSize="large" type="text" nz-input formControlName="email" placeholder="Email"/>
                <ng-template #emailErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('email')">
                        The input is not valid E-mail!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your E-mail!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                <input nzSize="large" type="password" nz-input formControlName="password" placeholder="Password"/>
                <ng-template #passwordErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your Password!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button nz-button nzSize="large" class="form-signin__button" nzType="primary" [disabled]="!isFormValid">
                    Log in
                </button>
                <a [routerLink]="['/register']">Sign up</a>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
