/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr-bs4-alert';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-zorro-antd/style/index.min.css"; /* Import basic styles */
@import "~ng-zorro-antd/button/style/index.min.css"; /* Import styles of the component */


html, body{
  margin: 0 !important;
  height: 100%;
}

.ant-layout{
  height: 100%;
}

.anticon {
  vertical-align: 0 !important;
}